.header {
    background: rgb(151, 182, 141);
    background: linear-gradient(90deg, rgba(151, 182, 141, 1) 0%, rgba(28, 129, 39, 1) 100%, rgba(61, 73, 152, 1) 100%);
    overflow: hidden;
    padding-left: 30px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #d4ebc0;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    padding: 30px;
}

.result {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}

#inputImage {
    width: 415px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#name {
    width: 415px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#name {
    width: 415px;
}


.text_input { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
}

#text {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;

}

#jsonOutput {
    float: left;
    display: block;
    margin-right: 20px;
}

#responseTextArea {
    width: 450px;
    height: 450px;
}

#responseTextAreaSimilar {
    width: 500px;
    height: 100px;
}

#sourceImage {
    max-width: 350px;
    max-height: 350px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}

#soulmate {
    max-width: 350px;
    max-height: 350px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}

#imageDiv {
    display: block;
    position: relative;
    float: left;
    padding: 40px;
}

#heart {
    font-size:250px;
    color:pink;
    display: block;
    padding-top: 100px;
}

#hearthead {
    /* font-size:200px; */
    color:pink;
}

#input {
    float: left;
}

#analyze {
    margin: 10px;
    margin-top: 15px;
}

.centered {
    position: absolute;
    padding-left: 8px;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    color: grey;
}

.response {
    visibility: hidden;
}

#title {
    float: left;
    padding-left: 20px;
}

#add {
    float: right;
    padding-right: 25px;
    color: pink;
}

a {
    color: pink;
}

a:hover {
    color: hotpink;
    cursor: pointer;
}

#addDiv {
    float: left;
}

#wrapper {
    margin: auto;
}